/*Default style start*/
body{
  /*font-family: 'Merriweather','SolaimanLipi',sans-serif;*/
  font-size: 1em;
  line-height: 1.6em;
  color: $gray;
}
a:hover, a:focus{
  text-decoration: none;
  outline: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
/*Default style end*/