@import "_variables.scss";
%text-gradient{
  background: -webkit-linear-gradient(90deg, rgba(0, 0, 1) 0%, rgb(26, 91, 230) 0%, rgb(211, 59, 179) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @extend %section-title-two;
}
/*%text-gradient{
  background: -webkit-linear-gradient(180deg, #F6182A, #0097D7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/
%absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
%section-title{
  text-align: center;
  background: #FFFF99;
  color: $dark;
  font-weight: 300;
  margin: 0;
  padding: 10px;
  box-shadow: 0 2px 5px #999;
  margin-bottom: 5px;
}
%section-title-two{
  display: inline-block;
  margin-bottom: 25px;
  padding: 10px 100px;
  font-weight: 700;
  @extend %box-shadow;
  border-top-left-radius: 60px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 60px !important;
  border-bottom-left-radius: 0 !important;
}
/*%section-title-two{
  color: $gray;
  background: none;
  display: inline-block;
  border-bottom: 2px solid $gray;
  margin-bottom: 25px;
}*/
%box-shadow{
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
}
%owl-span{
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

%owl-dots-span {
  width: 10px;
  height: 10px;
  background: #ddd;
  display: block;
  margin: 5px;
  border-radius: 50%;
}