/*color variables start*/
$primary: #FF3547;
$header-bg: #FDD670;
/*$background: linear-gradient(to right, #993300, #FF8902);*/
/*$background: linear-gradient(to right, #6666ff, #ff2dbc, #a8eb12);*/
$dark: hsl(0, 0%, 13%);
$gray: hsl(0, 0%, 29%);
$light-gray: hsl(0, 0%, 45%);
/*color variables end*/